.color_0
{
	color: rgba(0, 0, 0, 0);
}

.color_1
{
	color: rgba(255, 0, 0, 1);
}

.color_2
{
	color: rgba(0, 0, 255, 1);
}

.point
{
	margin-right: 12px;
}

.point > span:before
{
	content: '\2022';
}

.row
{
	margin-top: -10px;
	margin-bottom: 0px;
	cursor: default;
}

#game_control .row
{
  margin-top: 10px;
}

#current_player
{
	width: 300px;
	margin-left: auto;
	margin-right: auto; 
	clear: both;
	font-size: 20pt;
	text-align: center;
}

#score_1
{
  padding-top: 300px;
  font-size: 30pt;
	text-align: right;
	color: red;
}

#score_2
{
  padding-top: 300px;
  font-size: 30pt;
	text-align: left;
	color: blue;
}

#game_field
{
	/*background: url('../img/bg.png') repeat;
	background-position-x: 4px;
	background-position-y: 4px;*/
	/*position: absolute;
	top: 50px;
	left: 50%;
	width: 810px;
	height: 663px;
	margin-top: 30px;
	margin-left: -405px;
	font-size: 20pt;*/
  text-align: center;
}

#field_canvas
{
	/*position: relative;
	top: -672px;
	left: -7px;*/
	z-index: 10;
}

#control_panel
{
	clear: both;
	float: left;
	display: block;
	z-index: 20;
}