<div id="current_player" ng-attr-class="{{'color_' + current_player}}">
	<span ng-show="current_player == player">Ваш ход</span>
	<span ng-show="current_player != player">Ход соперника</span>
</div>
<div id="scores">
	<div id="score_1">{{score[1]}}</div>
	<div id="score_2">{{score[2]}}</div>
</div>
<div id="game_field">
	<canvas id='field_canvas' ng-click="canvasClick($event)" width="806" height="660"></canvas>
</div>
<div id="control_panel">
	<button ng-click="requestDraw()">Запросить ничью</button>
	<button ng-click="requestSurrender()">Запросить конец игры</button>
	<div id="draw_request" ng-show="requestedDraw">
		<countdown ng-show="acceptingRequest" time="15" on-accept="acceptRequest()" on-decline="declineRequest()" is-failure="requestDeclined" failure-message="Соперник отказался от ничьи." timeout="Время ожидания соперника истекло.">Соперник предлагает вам ничью.</countdown>
		<countdown ng-show="waitingAccept" time="15" on-cancel="declineRequest()" is-failure="requestDeclined" failure-message="Соперник отказался от ничьи." timeout="Время ожидания истекло.">Ожидание соперника...</countdown>
	</div>
	<div id="surrender_request" ng-show="requestedSurrender">
		<countdown ng-show="acceptingRequest" time="15" on-accept="acceptRequest()" on-decline="declineRequest()" is-failure="requestDeclined" failure-message="Соперник отказался от вышего предложения." timeout="Время ожидания соперника истекло.">Соперник предлагает вам завершить игру с текущим счетом.</countdown>
		<countdown ng-show="waitingAccept" time="15" on-cancel="declineRequest()" is-failure="requestDeclined" failure-message="Соперник отказался от ничьи." timeout="Время ожидания истекло.">Ожидание соперника...</countdown>
	</div>
</div>