<h4>Очередь ожидания</h4>
<span id="no_queue" ng-show="queue.length == 0">Никого нет онлайн</span>
<ul class="queue">
  <li ng-repeat="user in queue" ng-click="requestGame(user.id)">
    {{user.name}}
    <p>id: {{user.id}}, rating: {{user.rating}}</p>
  </li>
</ul>
<countdown ng-show="acceptingRequest" time="15" on-accept="acceptRequest()" on-decline="declineRequest()" is-failure="requestDeclined" failure-message="Соперник отказался от игры с вами." timeout="Время ожидания соперника истекло.">Игрок {{requestDetails.name}} (рейтинг {{requestDetails.rating}}) хочет сыграть с вами</countdown>
<countdown ng-show="waitingAccept" time="15" on-cancel="cancelRequest()" is-failure="requestDeclined" failure-message="Соперник отказался от игры с вами" timeout="Время ожидания истекло.">Ожидание соперника...</countdown>