<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Точки</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="#/login">Вход</a></li>
        <li class="active"><a href="#/register">Регистрация</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
  <h4>Регистрация</h4>
  <form name="registrationForm" class="form-horizontal">
    <div class="form-group" ng-show="success" id="registration_success">
      <div class="col-md-5">
        <div class="alert alert-success">Вы успешно зарегистрировались! Вы можете перейти на <a href="#/login">страницу входа</a></div>
      </div>
    </div>
    <div class="form-group" ng-show="failure" id="registration_failure">
      <div class="col-md-5">
        <div class="alert alert-danger" ng-show="alreadyExists">Данное имя пользователя уже существует!</div>
        <div class="alert alert-danger" ng-show="registrationForm.password.$error.minlength">Пароль должен содержать не меньше 6 символов!</div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <input type="text" name="name" ng-model="name" class="form-control" placeholder="Имя пользователя" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <input type="password" name="password" ng-minlength="6" ng-model="password" class="form-control" placeholder="Пароль" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <button class="btn btn-default" ng-click="register();">Зарегистрироваться</button>
      </div>
    </div>
  </form>
</div>